h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
}
.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
}
.header__content {
}
