h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  font-family: Roboto;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
}
.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.header {
  padding: 23px 0 77px;
  background-color: #fff;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  gap: 26px;
  justify-content: center;
  align-items: center;
}
.header__logo-txt {
  color: rgba(26, 26, 26, 0.71);
  font-size: 37px;
  line-height: 0.56;
}
.header__list {
  display: flex;
  gap: 32px;
}
.header__item-link {
  color: #2a2a2a;
  font-size: 16px;
  line-height: 1.27;
}
.header__rightblock {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.header__rightblock-list {
  display: flex;
  gap: 13px;
}
.line {
  border-right: 1px solid #2a2a2a;
}
.header__rightblock-item-link {
  color: #2a2a2a;
  font-size: 14px;
  line-height: 1.28;
}
.header__rightblock-item-btn {
  fill: #000;
  border: none;
  background-color: #fff;
  text-align: end;
}
.hero {
  position: relative;
}
.hero__content {
  background: url(./image/icon/heroimg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
}
.hero__text {
  position: absolute;
  bottom: 31px;
  left: 140px;
}
.hero__txt {
  color: #fff;
  font-size: 18px;
  line-height: 1.58;
}
.hero__link {
  color: #fff;
  font-size: 15px;
  line-height: 1.5;
}
